body{
    height: 100vh;
    width: 100vw;
    margin: 0 auto;
    background-color: rgb(215, 163, 194);
    
}
.container{
  justify-content: center;
  
}
#heading1{
    background-color: aqua;
}
.button1{
    background-color: blue;
    padding: 5px;
    color: white;
}